<!DOCTYPE html>

<html>
<head>
    <% include header %>
    <link href="../eat.css" rel="stylesheet" type="text/css">
</head>


    <div class="container-fluid">
        <h3>Featured</h3>

        <hr>
    </div>
    <a href="/business">
    <div class="container-fluid">
        <div class="contentbox1">
            <div class="contentboxtext">
                <h4>Wildfire Bakery</h4>


                <h5>Distance 2 km</h5>
            </div>


            <div>
                <button class="btn btn-lg btn-primary btn-block" data-color="info" type="button">Subscribe</button>
            </div>
        </div>
    </div></a>

    <div class="container-fluid">
        <h3>My Feed</h3>

        <hr>
    </div>
    <a href="/business">
    <div class="container-fluid">
        <div class="contentbox2">
            <div class="contentboxtext">
                <h4>Wildfire Bakery</h4>


                <h5>Distance 2 km</h5>
            </div>


            <div>
                <button class="btn btn-lg btn-success btn-block" data-color="info" type="button">Unsubscribe</button>
            </div>
        </div>
    </div></a>

    <div class="container-fluid">
        <h3>Discover</h3>

        <hr>
    </div>
    <a href="/business">
    <div class="container-fluid">
        <div class="contentbox3">
            <div class="contentboxtext">
                <h4>Wildfire Bakery</h4>


                <h5>Distance 2 km</h5>
            </div>


            <div>
                <button class="btn btn-lg btn-primary btn-block" data-color="info" type="button">Subscribe</button>
            </div>
        </div>
    </div></a> <a href="/business">
    <div class="container-fluid">
        <div class="contentbox4">
            <div class="contentboxtext">
                <h4>Wildfire Bakery</h4>


                <h5>Distance 2 km</h5>
            </div>


            <div>
                <button class="btn btn-lg btn-primary btn-block" data-color="info" type="button">Subscribe</button>
            </div>
        </div>
    </div></a> <a href="/business">
    <div class="container-fluid">
        <div class="contentbox5">
            <div class="contentboxtext">
                <h4>Wildfire Bakery</h4>


                <h5>Distance 2 km</h5>
            </div>


            <div>
                <button class="btn btn-lg btn-primary btn-block" data-color="info" type="button">Subscribe</button>
            </div>
        </div>
    </div></a>
</body>
</html>