<!DOCTYPE html>

<html>

   <head>
    <% include header %>
    
    <link href="../myprofile.css" rel="stylesheet" type="text/css">
</head>


    <div class="container-fluid">
        <div class="row">
            <div class="photo">
                <div><img class="img-responsive" height="400" src="../photos/applesauce.jpg" width="600">
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="text-center">
            <h2>John Applesauce</h2>

            <hr>
        </div>
    </div>


    <div class="container-fluid">
        <ul style="list-style-type:none">
            <li>
                <a href="#">
                <h4>Manage Subscriptions</h4></a>

                <hr>
            </li>


            <li>
                <a href="#">
                <h4>Payment Methods</h4></a>

                <hr>
            </li>


            <li>
                <a href="#">
                <h4>Account Settings</h4></a>

                <hr>
            </li>


            <li>
                <a href="#">
                <h4>Notification Settings</h4></a>

                <hr>
            </li>


            <li>
                <a href="#">
                <h4>Purchase History</h4></a>

                <hr>
            </li>


            <li>
                <a href="#">
                <h4>Log Out</h4></a>

                <hr>
            </li>


            <li style="list-style: none; display: inline">
                <ul>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>